<h1>Customer Dashboard</h1>

<br />

asp-action="Create"
class="btn btn-primary">
Book Service
</a>

<a asp-controller="Orders"
   asp-action="Index"
   class="btn btn-success">
    My Orders
</a>
<a asp-controller="Orders"